<div ng-init="populate()">
    <treasure-overlay-spinner active='spinner.active'>
        <div data-ng-repeat="sub in AAAARecs">
            <div class="col-md-2" style="border-top: solid thin gainsboro">
                <h4>{{sub.name}}</h4>
            </div>
            <div class="col-md-10">

                <div ng-show="sub.properties.AAAARecords.length == 0">
                    <em>There are no IPs for this AAAA Record. Add one below</em>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr data-ng-repeat="item in sub.properties.AAAARecords">
                            <td>
                                <p data-ng-hide="item.edit">{{item.ipv6Address}}</p>
                                <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressItem.ipv6Address" class="form-control" />
                            </td>
                            <td>
                                <p data-ng-hide="item.edit">
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> |
                                    <a data-ng-click="delete(item,sub.id)" href="javascript:;">Delete</a>
                                </p>
                                <p data-ng-show="item.edit">
                                    <a data-ng-click="updateRec(item,sub)" href="javascript:;">Save</a> |
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-4">
                    <div class="input-group" style="padding-bottom: 10px;">
                        <input ng-model="sub.newRec" class="form-control" placeholder="Add new IP to {{sub.name}}"/>
                        <span class="input-group-btn">
                            <button ng-click="updateRec(null,sub);" class="btn btn-primary">Add</button>
                        </span>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-xs-4">
        <div class="input-group">
            <input ng-model="newRecRoot" class="form-control" placeholder="Add new AAAA Record"/>
            <span class="input-group-btn">
                    <button ng-click="addRec();" class="btn btn-primary">Add</button>
                </span>
        </div>
            </div>
</treasure-overlay-spinner>
</div>