<div ng-init="populate()">
    <treasure-overlay-spinner active='spinner.active'>
            
            <div class="col-md-12">

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>CName Record</th>
                        <th>CName Value</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="sub in CNAMERecs">
                        <!--sub.properties.AAAARecords-->
                        <td>{{sub.name}}</td>
                        <td>
                            <p data-ng-hide="sub.edit">{{sub.value}}</p>

                            <input data-ng-show="sub.edit" type="text" data-ng-model="editInProgressItem.cname" class="form-control"/>
                        </td>
                        <td>
                            <p data-ng-hide="sub.edit">
                                <a data-ng-click="editSwitch(sub)" href="javascript:;">Edit</a> |
                                <a data-ng-click="delete(sub.name)" href="javascript:;">Delete</a>
                            </p>
                            <p data-ng-show="sub.edit">
                                <a data-ng-click="update(sub)" href="javascript:;">Save</a> |
                                <a data-ng-click="editSwitch(sub)" href="javascript:;">Cancel</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="col-xs-8 col-xs-offset-2">
                    <div>Add new CNAME Record</div>
                    <form class="form-inline">
                        <div class="form-group">
                            <input id="CNAMENewName" ng-model="sub.newRecName" class="form-control" placeholder="CNAME Name"/>
                        </div>
                        <div class="form-group">
                            <input id="CNAMENewVale" ng-model="sub.newRecValue" class="form-control" placeholder="CNAME Value"/>
                        </div>
                        <button ng-click="addRec(sub);" type="submit" class="btn btn-primary">Add</button>

                    </form>
                    </div>
                </div>
       
    </treasure-overlay-spinner>
</div>