<div ng-init="populate()">
    <treasure-overlay-spinner active='spinner.active'>
        <div ng-show="error != null" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error</strong> {{error}}
        </div>
        <div class="col-md-4"><strong>MX Record</strong>&nbsp; (TTL)</div>
        <div class="col-md-8">&nbsp;</div>
        <div data-ng-repeat="sub in MXRecs">
            <div class="col-md-4" style="border-top: solid thin gainsboro">
                <strong>
                    {{sub.name}}
                </strong> ({{sub.properties.TTL}})
                <a data-ng-click="editSwitchPanel(sub)" href="javascript:;">
                    <img src="{{sub.imgEdit}}"
                         style="float: right; width: 24px; height: 24px; margin: 5px;" />
                </a>
                <a data-ng-click="deleteRoot(sub)" href="javascript:;">
                    <img src="../../../Content/img/delete24.png"
                         style="float: right; width: 24px; height: 24px; margin: 5px;" />
                </a>
            </div>
            <div class="col-md-8" style="padding-bottom: 10px;">

                <div ng-show="sub.properties.MXRecords.length == 0" style="height:34px">
                    <em>There are no IPs for this MX Record. Add one below</em>
                </div>
                <table class="table table-striped" ng-show="sub.properties.MXRecords.length != 0">
                    <tbody>
                    <th>Exchange</th>
                    <th>Preference</th>
                    <th>&nbsp;</th>
                    <tr data-ng-repeat="item in sub.properties.MXRecords">
                        <td>
                            <p data-ng-hide="item.edit">{{item.exchange}}</p>
                            <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressItem.exchange" class="form-control" />
                        </td>
                        <td>
                            <p data-ng-hide="item.edit">{{item.preference}}</p>
                            <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressItem.preference" class="form-control" />
                        </td>
                        <td>
                            <p data-ng-hide="item.edit">
                                <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> |
                                <a data-ng-click="delete(item,sub)" href="javascript:;">Delete</a>
                            </p>
                            <p data-ng-show="item.edit">
                                <a data-ng-click="updateRec(item,sub)" href="javascript:;">Save</a> |
                                <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-xs-8" data-ng-show="sub.editModeOn">
                    <div class="form-inline" style="padding-bottom: 10px;">
                        <div class="form-group">
                            <input ng-model="sub.newRec" class="form-control" placeholder="Add new Mail Exchange to {{sub.name}}"/>
                        </div>
                        <div class="form-group">
                            <input ng-model="sub.newRecP" class="form-control" placeholder="Pref" style="max-width: 80px"/>
                            </div>
                                <button ng-click="updateRec(null,sub);" class="btn btn-primary">Add</button>
                        </div>
                </div>
                <div class="col-xs-4" data-ng-show="sub.editModeOn">
                    <div class="input-group" style="padding-bottom: 10px;">
                        <input ng-model="sub.properties.TTL" class="form-control" />
                        <span class="input-group-btn">
                            <button ng-click="updateRec(null,sub,true);" class="btn btn-danger">Update TTL</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xs-8">
                <div class="form-inline">
                    <div class="form-group">
                        <input ng-model="newRecRoot" class="form-control" placeholder="Add new MX Record"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="newRecRootAddy" class="form-control" placeholder="Address"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="newRecRootPref" class="form-control" placeholder="Pref." style="max-width: 80px;" />
                    </div>
                    <div class="form-group">
                        <input ng-model="newRecRootTTL" class="form-control" placeholder="TTL" style="max-width: 80px;"/>
                    </div>
                    <button ng-click="addRec();" class="btn btn-primary">Add</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group" style="padding-bottom: 10px;">
                    <input ng-model="bulkTTL" class="form-control"/>
                    <span class="input-group-btn">
                            <button ng-click="updateTTLBulk();" class="btn btn-danger">Bulk Update TTLs</button>
                        </span>
                </div>
            </div>

            </treasure-overlay-spinner>
</div>
