<div ng-init="populate()">

    <treasure-overlay-spinner active='spinner.active'>

        <h3>Start Of Authority Record</h3>
        <div>
            Email: {{SOARec.email}}
        </div>
        <div>
            Expiry Time: {{SOARec.expireTime}}
        </div>
        <div>Host: {{SOARec.host}}</div>
        <div>Minimum TTL: {{SOARec.minimumTTL}}</div>
        <div>Refresh Time: {{SOARec.refreshTime}}</div>
        <div>Retry Time: {{SOARec.retryTime}}</div>
    </treasure-overlay-spinner>
</div>

    <div class="row" style="padding-bottom: 30px;">
        
            <tabs data="tabData" type="tabs" vertical="false" justified="false"></tabs>
        
        <div>
            <div class="tab-pane col-xs-12">
                <ui-view autoscroll></ui-view>
            </div>
        </div>
</div>
