<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div data-ng-hide="isLoading">Select your subscription and resource group below, if you subscription is not registered for Microsoft.Network resource provider it 
        will be automatically registered when you selected it below.</div>
        <!--
            
        TODO implment bootstrap dropdown
        <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>    
        -->
     
        <div class="loader" data-loading></div>
        <select id="AzureSubscription" data-ng-hide="isLoading"
                ng-change="changeSubscription(subListSelected)" 
                ng-model="subListSelected"
                ng-options="item.id as item.displayName for item in subList">
        </select>
        <select id="AzureResourceGroup" data-ng-hide="isSubscriptionNotSelected"
                ng-change="changeResourceGroup(resourceGroupListSelected)"
                ng-model="resourceGroupListSelected"
                ng-options="item.id as item.name for item in resourceGroupList">
        </select>

        <table class="table table-striped" data-ng-hide="isSubscriptionNotSelected || isResourceGroupNotSelected">
            <tbody>
            <tr>
                <td>Domains</td><td></td>
            </tr>
            <tr data-ng-repeat="item in dnsZoneList">
                <td>
                    <p data-ng-hide="item.edit">{{item.name}}</p>
                </td>
                <td>
                    <p>
                        <a ui-sref="RecordSet({id: item.id})" href="javascript:;">Edit</a> |
                        <a href="javascript:;">Delete</a>
                        <!--data-ng-click="delete(item.ID)"-->
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="input-group" data-ng-hide="isSubscriptionNotSelected || isResourceGroupNotSelected">
            <input ng-model="newDnsZoneName" class="form-control" />
            <span class="input-group-btn">
                <button ng-click="add();" class="btn btn-default">Add</button>
            </span>
        </div>

    </div>
</div>